body {
    margin: 0;
    padding: 0;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
nav {
    background-color: #555;
    padding: 10px;
    border-radius: 5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #888;
    border-radius: 5px;
}
a:hover {
    background-color: #aaa;
}