/* Importar fuente de letra */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
/* Importar fuente de letra */

/* Estilos personalizados */
body {
    background: linear-gradient(to right, #3e5151, #decba4);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
}

.container {
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    font-weight: 500;
}

h3 {
    margin-bottom: 20px;
}

p {
    font-weight: 300;
}

#myCarousel .carousel-item img {
    border-radius: 25px;
    overflow: hidden;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.5);
    width: 10%;
}

.carousel-indicators {
    bottom: -40px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #fff;
}

footer {
    background-color: #333;
    padding: 50px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-about,
.footer-contact,
.footer-social {
    flex-basis: 30%;
    margin-bottom: 20px;
}

.footer-contact ul,
.footer-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-contact li,
.footer-social li {
    margin-bottom: 10px;
}

.footer-social a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    margin-top: 50px;
    text-align: center;
}

.footer-bottom p {
    margin: 0;
}

.footer-bottom a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.footer-bottom a:hover {
    color: #8e8e8e;
}