<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width==device-width, initial-scale=1.0">
    <title>Crear Administrador</title>
    <link rel="stylesheet" href="{% static 'CSS/agregar_admin.css' %}">
</head>

<body>
    <nav>
        <ul>
            <li><a href="{% url 'total_administradores' %}">Todos los administradores</a></li>
            <li><a href="{% url 'crear_admin' %}">Crear administradres</a></li>
            <li><a href="{% url 'admin_opc_admin' %}">Opciones para los administradores</a></li>
            <li><a href="{% url 'base_admin' %}">Menu administrador</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="formulario">
            <!-- Contenido del formulario -->
            <h1>Agregar Producto</h1>
            <form action="{% url 'crear_admin' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <pre>Nombre del administrador:          <input type="text" name="nombre_admin"></pre>
                <pre>Contraseña:                        <input type="text" name="contrasena_admin"></pre>
                <pre>Confirmar contraseña:              <input type="text" name="confirmar_contrasena_admin"></pre>
                <div id="idMensaje">
                    {% if mensaje %}
                    {{mensaje}}
                    {% endif %}
                </div>
                <div class="button-container">
                    <input type="submit" name="opcion" value="Agregar">
                </div>
            </form>
        </div>
    </div>
</body>