{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/modificar_producto.css' %}">
    <title>Modificar administrador</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'total_administradores' %}">Todos los administradores</a></li>
            <li><a href="{% url 'crear_admin' %}">Crear administradres</a></li>
            <li><a href="{% url 'admin_opc_admin' %}">Opciones para los administradores</a></li>
            <li><a href="{% url 'base_admin' %}">Menu administrador</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="formulario">
            <h1>Modificar datos del administrador</h1>
            <form action="{% url 'modificar_admin' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="id_admin" value="{{ admin_dj.id_admin }}">
                <div>ID Administrador:</div>
                <input type="text" name="id_admin" value="{{ admin_dj.id_admin }}" readonly>
                <div>Nombre:</div>
                <input type="text" name="nombre_admin" value="{{ admin_dj.nombre_admin }}">
                <div>Nivel del administrador:</div>
                <select name="nivel_administrador" onchange="Explicacion()">
                    <option value="{{ admin_dj.nivel_administrador }}">{{ admin_dj.nivel_administrador }} Actual</option>
                    <option value="1">Nivel 1</option>
                    <option value="2">Nivel 2</option>
                    <option value="3">Nivel 3</option>
                </select>
                <p id="explicacion"></p>
                <div>Contraseña Actual:</div>
                <input type="text" name="contrasena_admin" value="{{ admin_dj.contrasena_admin }}" readonly>
                <div>Contraseña Nueva:</div>
                <input type="text" name="contrasena_nueva1">
                <div>Confirmar contraseña:</div>
                <input type="text" name="contrasena_nueva2">
                <input type="submit" name="opcion" value="Actualizar datos">
                <div id="idMensaje">
                    {% if mensaje %}
                        {{mensaje}}
                    {% endif %}
                </div>
                {% if admin_dj %}
            </form>
            {% endif %}
        </div>
    </div>    
    <script src="{% static 'JS/explicacion_administrador.js' %}"></script>
    <script src="{% static 'JS/admin_opc_prductos.js' %}"></script>
</body>
</html>