{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Iniciar Sesión Usuario</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Carlos Gacitua and Miguel Conejeros" content="log_in_user" />
    <meta
      name="description"
      content="La pagina entrega el formulario necesario para el logueo del usuario, siempre y cuando tenga una cuenta creada."
    />
    <link rel="stylesheet" href="{% static 'codigo_inicio_sesion.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <link rel="icon" type="image/x-icon" href="{% static 'icono.png' %}" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img
            src="{% static 'icono.png' %}"
            width="30"
            height="30"
            class="d-inline-block align-top"
            alt="Icono de botillería covid"
          />
          El Barril Selecto
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}"
                >Inicio <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contacto' %}"
                >Contacto <span class="sr-only">(current)</span></a
              >
            </li>
            {% if usuario %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cerrar_sesion' %}"
                >Cerrar Sesión <span class="sr-only">(current)</span></a
              >
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'inicio_sesion' %}"
                >Inicio Sesión <span class="sr-only">(current)</span></a
              >
            </li>
            {% endif %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-toggle="dropdown"
                aria-expanded="false"
              >
                Productos
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'vinos' %}">Vinos</a>
                <a class="dropdown-item" href="{% url 'whiskys' %}">Whisky</a>
                <a class="dropdown-item" href="{% url 'cerveza' %}">Cervezas</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'productos' %}"
                  >Todos los productos</a
                >
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container">
      <div class="form-container">
        <form id="form-login" action="{% url 'inicio_sesion' %}" method="POST">
          {% csrf_token %}
          <h1 style="text-align: center">El Barril Selecto</h1>
          <label for="login_field">Nombre de usuario</label>
          <input
            type="text"
            name="login_field"
            id="login_field"
            placeholder="Ingrese su nombre de usuario"
          />
          <div id="login_field-error" style="display: none"></div>
          <label for="password">Contraseña</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Ingrese su contraseña"
          />
          <div id="password-error" style="display: none"></div>
          <p>
            <a href="{% url 'reestablecer_contraseña' %}"
              >Olvidaste tu contraseña?</a
            >
          </p>
          <button type="submit" class="btn btn-primary">Enviar</button>
          <p>
            <a href="{% url 'registro' %}"
              >¿No tienes cuenta? Registrate aqui</a
            >
          </p>
        </form>
      </div>
    </div>
    <footer>
      <div class="footer-container">
        <div class="footer-about">
          <h3>Acerca de nosotros</h3>
          <p>
            El Barril Selecto: tu tienda especializada en vinos y licores.
            Ofrecemos asesoría profesional en línea y en nuestra tienda física.
            Amplia selección de productos de alta calidad para una experiencia
            única.
          </p>
        </div>
        <div class="footer-contact">
          <h3>Contacto</h3>
          <ul>
            <li><i class="bi bi-telephone"></i> Número: +562 74398100</li>
            <li>
              <i class="bi bi-envelope"></i> Correo:
              <a href="mailto:elbarrilselecto@gmail.com"
                >elbarrilselecto@gmail.com</a
              >
            </li>
            <li><i class="bi bi-geo-alt"></i> Dirección: Miraflores 1032</li>
            <li>
              <i class="bi bi-clock"></i> Horario: Lunes a Sabado de 10:00 a
              17:00 hrs.
            </li>
          </ul>
        </div>
        <div class="footer-social">
          <h3>Síguenos en redes sociales</h3>
          <ul>
            <li>
              <a href="https://www.facebook.com/"
                ><i class="bi bi-facebook"></i> Facebook</a
              >
            </li>
            <li>
              <a href="https://twitter.com/?lang=es"
                ><i class="bi bi-twitter"></i> Twitter</a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/"
                ><i class="bi bi-instagram"></i> Instagram</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>© 2023 Tienda de Botillería. Todos los derechos reservados.</p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
      integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'codigo_inicio_sesion.js' %}"></script>
    <script src="{% static 'traduccion_mensajes.js' %}"></script>
  </body>
</html>
