{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Productos</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'admin_productos' %}">Productos</a></li>
            <li><a href="{% url 'crear_productos' %}">Crear productos</a></li>
            <li><a href="{% url 'opciones_productos' %}">Modificar productos</a></li>
        </ul>
    </nav>
    <h1>Productos</h1>
    {% for p in productos %}
        <br>*ID: {{ p.id_producto }}<br>
        *Titulo: {{ p.titulo_producto }}<br>
        *Descripción: {{ p.descripcion_producto }}<br>
        *Precio: {{ p.precio_producto }}<br>
        *Imagen: <img src="{{ MEDIA_URL }}{{ p.imagen.url }}" alt="Imagen del producto"><br>
        *Informacion adicional: {{ p.informacion_adicional }}<br>
    {% endfor %}
</body>
</html>