{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/admin_opc_prductos.css' %}">
    <title>Administración</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'admin_productos' %}">Productos</a></li>
            <li><a href="{% url 'crear_productos' %}">Crear productos</a></li>
            <li><a href="{% url 'opciones_productos' %}">Modificar productos</a></li>
            <li><a href="{% url 'base_admin' %}">Menu administrador</a></li>
        </ul>
    </nav>
    <h1>Panel de Administración de Productos</h1>
    <table>
        {% if productos %}
        <th>ID</th>
        <th>TITULO</th>
        <th>DESCRIPCION</th>
        <th>PRECIO</th>
        <th>CANTIDAD</th>
        <th>IMAGEN</th>
        <th>INF. ADICIONAL</th>
        <th>MODIFICAR</th>
        <th>ELIMINAR</th>
        {% for p in productos %}
            <tr>
                <td>{{p.id_producto}}</td>
                <td>{{p.titulo_producto}}</td>
                <td>{{p.descripcion_producto}}</td>
                <td>{{p.precio_producto}}</td>
                <td>{{p.cantidad}}</td>
                <td><img src="{{ MEDIA_URL }}{{ p.imagen.url }}" class="tamano_imagen"></td>
                <td>{{p.informacion_adicional}}</td>
                <td><a href="{% url 'encontrar_producto' pk=p.id_producto %}"class="btm-Modificar">Modificar</a></td>
                <td><a href="{% url 'eliminar_producto'  pk=p.id_producto %}"class="btm-Eliminar">Eliminar</a></td>
            </tr>
        {% endfor %}
        {% endif %}
    </table>
    <div id="idMensaje">
        {% if mensaje %}
            {{mensaje}}
        {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js" integrity="sha512-J9QfbPuFlqGD2CYVCa6zn8/7PEgZnGpM5qtFOBZgwujjDnG5w5Fjx46YzqvIh/ORstcj7luStvvIHkisQi5SKw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'JS/admin_opc_prductos.js' %}"></script>
</body>