<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/modificar_producto.css' %}">
    <title>Modificar producto</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'admin_productos' %}">Productos</a></li>
            <li><a href="{% url 'crear_productos' %}">Crear productos</a></li>
            <li><a href="{% url 'opciones_productos' %}">Modificar productos</a></li>
            <li><a href="{% url 'base_admin' %}">Menu administrador</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="formulario">
            <h1>Modificar datos del producto</h1>
            <form action="{% url 'modificar_producto' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="id_producto" value="{{ productos.id_producto }}">
                <div>ID producto:</div>
                <input type="text" name="id_producto" value="{{ productos.id_producto }}" readonly>
                <div>Titulo:</div>
                <input type="text" name="titulo" value="{{ productos.titulo_producto }}">
                <div>Descripción:</div>
                <input type="text" name="descripcion" value="{{ productos.descripcion_producto }}">
                <div>Precio:</div>
                <input type="number" name="precio" value="{{ productos.precio_producto }}">
                <div>Cantidad:</div>
                <input type="number" name="cantidad_producto" value="{{ productos.cantidad }}">
                <div>Imagen:</div>
                <input type="file" name="imagen" id="inputImagen">
                <div class="image-container">
                    {% if productos.imagen %}
                    <div class="existing-image">
                        <img src="{{ productos.imagen.url }}" alt="Imagen existente">
                    </div>
                    {% endif %}
                    <div class="image-preview" id="imagePreview"></div>
                </div>
                <div id="imagePreview"></div>
                <div>Informacion adicional:</div>
                <input type="text" name="adicional" value="{{ productos.informacion_adicional }}">
                <div id="idMensaje">
                    {% if mensaje %}
                        {{mensaje}}
                    {% endif %}
                </div>
                {% if productos %}
                <input type="submit" name="opcion" value="Actualizar datos">
                {% endif %}
            </form>
        </div>
    </div>
    <script src="{% static 'JS/mostrar_imagen.js' %}"></script>
    <script src="{% static 'JS/admin_opc_prductos.js' %}"></script>
</body>
</html>