body {
    background-color: #b9c4c5;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 999;
}

.container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}

.formulario {
    width: 500px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.formulario h1 {
    text-align: center;
    margin-bottom: 20px;
}

.formulario form {
    display: flex;
    flex-direction: column;
}

.formulario div {
    font-weight: bold;
    margin-bottom: 10px;
}

.formulario .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.formulario .existing-image,
.formulario .image-preview {
    max-width: 20%;
    max-height: 200px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario img {
    max-width: 100%;
    max-height: 100%;
}

.formulario input[type="text"],
.formulario input[type="file"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formulario input[type="submit"] {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background-color: #45a049;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}