{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/admin_productos.css' %}">
    <title>Subir Imagen</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'admin_imagen' %}">Imagenes</a></li>
            <li><a href="{% url 'subir_imagen' %}">Crear imagen</a></li>
            <li><a href="{% url 'opciones_imagen' %}">Opciones imagenes</a></li>
            <li><a href="{% url 'base_admin' %}">Menu administrador</a></li>
        </ul>
    </nav>
    <h1>Subir Imagen</h1>
    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <pre>Imagen:            <input  for="imagen" type="file" name="imagen" accept="image/*" id="imagen" required></pre>
        <pre>Descripción:       <input  for="descripcion_imagen" type="text" name="descripcion_imagen" id="descripcion_imagen" required><br></pre>
        <div class="button-container">
            <input type="submit" name="opcion" value="Agregar">
        </div>
    </form>
</body>
</html>